.card-participant {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  transition: all 0.3s ease;
}

.card-participant:hover{
  background-size: 200%;
}

.card-participant-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-participant-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  z-index: 2;
  a {
   color: white;
  }
}
.card-participant-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-participant-delete {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  z-index: 2;
  .fa {
    color: white;
    font-weight: lighter !important;
  }
}

.card-participant-description h2 {
  font-size: 30px;
}
.card-participant-description h2:after {
    content:'';
    width:40px;
    height:1px;
    background:white;
    position: absolute;
    bottom: 35px;
    left: 0;
}


.card-participant-description p {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 5px;
}


.card-participant-confirmation {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-participant-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background: black;
  opacity: 0;
}

.card-participant-link:hover {
  opacity: 0.1;
}

// accomodation ///////////////////////////////////////

.card-accomodation {
  height: 170px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  background-color: #DDDDDD;
  color: $black;
  position: relative;
  margin: 15px 2px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  transition: all 0.2s;
  padding: 20px;
}

.card-accomodation:hover{
  .fa {
    color: #448FE2;
  }
}

.card-accomodation-book {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  margin-bottom: 5px;
  font-size: 14px;
  .btn {
    font-size: 20px !important;
    color: white;
    margin: 5px, 0, 0, 0;
    padding: 5px;
  }
}

.card-accomodation-icon {
  font-size: 45px;
  margin-bottom: 25px;
  text-align: center;
}

.card-accomodation-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h2 {
  font-size: 30px;
  margin: 8px auto;
  }
  p {
  font-size: 14px;
  margin-bottom: 5px;
  }
}

.card-accomodation-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background: black;
  opacity: 0;
}

.card-accomodation-link:hover {
  opacity: 0.1;
}

.card-accomodation-booked {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: white;
  opacity: 0.3;
}

// .card-accomodation-delete {
//   position: absolute;
//   top: 5px;
//   right: 10px;
//   font-size: 20px;
//   z-index: 2;
//   .fa {
//     color: white;
//     font-weight: lighter !important;
//   }
// }
